.sectionTitle {
  height: 250px;
  background-image: url('/images/titleBackgroundMobile.webp');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);

  & &__title {
    margin: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 32px;
    filter: drop-shadow(var(--drop-shadow));
    text-align: center;
  }

  @media (min-width: 650px) {
    & &__title {
      font-size: 48px;
    }
  }

  @media (min-width: 1024px) {
    background-image: url('/images/titleBackground.webp');
  }
}
