.faqItem {
  flex-basis: 100%;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;

  & &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--white-color);
  }

  & &__arrow {
    font-size: 24px;
    transition: transform ease-in-out 0.25s;

    &--rotate {
      transform: rotate(180deg);
    }
  }

  & &__answer {
    background-color: var(--primary-color);
    color: var(--white-color);
    opacity: 0;
    max-height: 0;
    transition: all ease-in-out 0.25s;

    &--visible {
      max-height: unset;
      opacity: 1;
      padding: 1rem;
    }
  }
}
