/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --backgroud-color: #D9D9D9;
    --primary-color: #22232e;
    --accent-color: #f57f5b;
    --white-color: #fff;
    --main-padding: 1rem;
    --box-shadow:rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}