/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
    --backgroud-color: #D9D9D9;
    --primary-color: #22232E;
    --accent-color: #f57f5b;
    --white-color: #fff;
    --main-padding: 1rem;
}