.hero {
  background: url(/images/heroBcgMobile.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;

  & &__container {
    text-align: center;
    color: var(--white-color);
    background-color: rgba(34, 35, 46, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: var(--box-shadow);
  }

  & &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
  }

  & &__subtitle {
    text-transform: uppercase;
  }

  & &__title {
    text-transform: uppercase;
  }

  & &__buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  @media (min-width: 650px) {
    & &__subtitle {
      font-size: 1.5rem;
    }

    & &__title {
      font-size: 2rem;
    }

    & &__buttonsContainer {
      gap: 1rem;
    }
  }

  @media (min-width: 1024px) {
    background: url(/images/heroBcg.webp);
  }
}
