.items {
  margin: 1rem;
  & &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem 0.5rem;
  }

  @media (min-width: 650px) {
    & &__container {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}
