.item{
    display: flex;
    gap: .5rem;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);

    &__imageContainer{
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__image{
        width: 100px;
        object-fit: cover;
    }

    & &__content{
        max-width: 250px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & &__name{
        text-transform: uppercase;
    }

    & &__category{
        display: inline-block;
        padding: 0.5rem 1rem;
        margin-right: .5rem;
        border-radius: .5rem;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 700;
        color: var(--white-color);

        &--garden{
            background-color: #30BF19;  
        }

        &--house{
            background-color: #2162E3; 
        }
        
        &--construction{
            background-color: #e9aa0b;        
        }

        &--tools{
            background-color: #FF3A3A; 
        }
    }

    & &__producer{
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        color: #808080;
    }

    & &__description{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & &__button{
        font-size: 14px;
        padding: .7rem;
        margin-left: auto;
    }
}