.header{
    background-color: var(--primary-color);
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
    position: relative;

    & &__logo{
        width: 60px;
        height: 60px;
    }  


    

    & &__menu{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        position: absolute;
        top: 76px;
        right: 0;
        width: 200px;
        height: calc(100vh - 76px);
        background-color: var(--primary-color);
        padding: 0.5rem 1rem;
        & > li{
            list-style: none;
        }
    }
    


    @media (min-width: 1024px){
        & &__burger{
            display: none;
        } 
        
        & &__menu{
            position: relative;
            flex-direction: row;
            height: auto;
            width: auto;
            position: static;
        }        
    }
}

