footer{
    width: 100%;
    background-color: var(--primary-color);
}

.footer{
    margin: 0 auto;
    color: var(--white-color);
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;  

    & &__about, & &__contact{
        & a{
            display: flex;
            align-items: center;
            gap: 8px;
            margin-right: auto;
            background-color: transparent;
            padding-right: 8px;
            border-radius: 16px;
            transition: all ease-in-out .4s;
        }

        & a:hover, a:focus{
            background-color: var(--white-color);
            color: black;
            border: none;
            outline: none;
        }
    
        & a:active{
            transform: scale(1.1);
        }
    }    

    & > div{
        display: flex;
        flex-direction: column;
        gap: .5rem;        
    }

    & &__about-address{
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    & &__title{
        text-transform: uppercase;
    }

    & &__info{
        & a{
            margin-right: auto;
            text-decoration: none;
            padding: .25rem;
            transition: all ease-in-out .4s;
        }

        & a:hover, a:focus{
            color: #888888;
            border:none;
            outline: none;
        }

        & a:active{
            transform: scale(1.1);
        }
    }

    @media(min-width: 1024px){
        grid-template-columns: repeat(3, 1fr);
        
    }
}
